<%= render "shared/header" %>
<div class="maincontainer">
  <h2 class="main_title">スケジュール詳細</h2>
  <table>
    <tr>
      <th>タイトル</th>
      <td><%= @post.title %></td>
    </tr>
    <tr>
      <th>開始日</th>
      <td><%= @post.start_date.to_s(:datetime_jp) %></td>
    </tr>
    <tr>
      <th>投稿日時</th>
      <td><%= @post.created_at.to_s(:datetime_jp) %></td>
    </tr>
    <tr>
      <th>終日</th>
      <td>
          <% if @post.all_day %>
          ◯
          <% else %>
          <% end %>
        </td>
    </tr>
    <tr>
      <th>スケジュールメモ</th>
      <td><%= @post.memo %></td>
    </tr>
  </table>
  <ul class="">
    <li><%= link_to"スケジュール一覧に戻る",:posts %></li>
    <li><%= link_to"スケジュールを編集する",[:edit,@post] %></li>
    <li><%= link_to"スケジュールを削除する",@post,method: :delete,data:{confirm:"本当に削除しますか？"} %></li>
  </ul>
</div>
<%= render "shared/footer" %>